tmp
*.tmp
*.pyc
/dist/
/*.egg-info
.ipynb_checkpoints
__pycache__
.DS_Store
.vscode
examples/test*
examples/*.py
examples/*.geqdsk
examples/*.mat
examples/Geof*
examples/*.pdf
examples/*.png
examples/*.txt
examples/*.pickle
examples/test_dynamics_*
examples/test_dynamics*
examples/stattic*
examples/evo*
examples/modes
examples/paper
examples/basic*
examples/machine*
examples/example_nonlinear_ev*
examples/example6c*
examples/static_*
examples/VC*
examples/*_.ipynb
examples/displacements*
machine_configs/_*
machine_configs/*/resistance_*.pickle
machine_configs/*/resistance.pickle
machine_configs/*/self_inductance.pickle
machine_configs/*/machine_data.pickle
machine_configs/MAST-U/MAST-U_active_coils_nonsym.pickle
machine_configs/MAST-U/MAST-U_active_coils.pickle
machine_configs/MAST-U/MAST-U_limiter.pickle
machine_configs/MAST-U/MAST-U_magnetic_probes.pickle
machine_configs/MAST-U/MAST-U_passive_coils.pickle
machine_configs/MAST-U/MAST-U_wall.pickle
examples/example_nonlinear_evolution_diverted_*
docs/_build
docs/api
docs/notebooks
docs/_images
docs/machine_configs
freegsnke/GSstaticsolver_pre*
build/
examples/.virtual_documents/*
.virtual_documents/
.netlify
examples/control_pickles/*
freegsnke/control_loop/control_test_files/*
.github/copilot-instructions.md
AGENTS.md
